.App {
  text-align: center;
  background: rgb(77, 76, 102);
  background: linear-gradient(93deg, rgba(77, 76, 102, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.app-header {
  margin: 0;
  padding-top: 20px;
  font-style: italic;
}